.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 1em;
    margin-bottom: 2em;
    width: 260px;
    border-radius: 1em;
    border: 2px solid #04b11b;
    background-color: #9cf591;
    color: #fff;
  }
  
  .card h3 {
    text-transform: capitalize;
    margin-bottom: 1em;
    font-size: 1.4em;
  }
  
  .card a {
    text-decoration: none;
    background-color: #fff;
    color: #222;
    padding: 0.7em 1.2em;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.4s;
  }
  
  .card a:hover {
    background-color: #ffff00;
    color: #04b11b;
  }

  .card p {
    color: #05831a;
  }