.character_container {
  text-align: center;
}

.title {
  font-size: 2.5em;
  text-transform: capitalize;
  background-color: #05831a;
  color: #fff;
  padding: 0.3em;
  margin: 0.8em auto;
}

.character_container h3 {
  margin: 0.6em auto;
  font-size: 1.2em;
}

.status {
  padding: 0.6em 1em;
  color: #fff;
  background-color: #000;
  margin: 0.5em 0.5em;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 0.8em;
}

.status_dead {
  background-color: #f42;
}

.status_alive {
  background-color: #16ee5e;
}

.status_unknown {
  background-color: #aab;
}

.data_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.data_container div {
    margin: 0 2em;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter_form {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.filter_div_input {
  display: flex;
}

.filter p {
  width: 5em;
}

.filter input {
  margin: .5em;
  border-radius: 1em;
  border: 2px solid #04b11b;
  background-color: #9cf591;
  width: 30%;
}

.search {
  padding-left: 5.5em;
}

.search button {
  text-decoration: none;
  background-color: #05831a;
  color: #fff;
  padding: 0.7em 1.2em;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.search button:hover {
  background-color: #ffff00;
  color: #05831a;
}


