.dropdown {
    display: flex;
}

.dropdown select {
    justify-content: center;
    align-items: center;
    padding: .5em 1em;
    margin: .5em;
    border-radius: 1em;
    border: 2px solid #04b11b;
    background-color: #9cf591;
    color: #000;
}