.filter_results_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.pagination_results {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination_results button {
    text-decoration: none;
    background-color: #05831a;
    color: #fff;
    padding: 0.7em 1.2em;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: 0.4s;
    margin: 2em;
}
  
.pagination_results button:hover {
    background-color: #ffff00;
    color: #05831a;
}