
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76f7a8;
    height: 150px;
    color: #000000;
    margin-top: 2em;
    border-top: 3px solid #05831a;
  }
  
  .footer span {
    font-weight: bold;
  }