.main_title {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.main_card {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

.main_result_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main_no_results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

