.location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location span {
    font-weight: bold;
}

.location p {
    font-size: 1.17em;
    margin: 1em;
}

.title {
    text-align: center;
    font-size: 2.5em;
    text-transform: capitalize;
    background-color: #05831a;
    color: #fff;
    padding: 0.3em;
    margin: 0.8em auto;
}

.residents_title{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.resident_cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}