.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: #fff;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo h1 {
    margin: 0 0 0 0;
    color: #077219;
  }

  .logo a {
    text-decoration: none;
    padding: 5px;
    transition: 0.4s;
    margin-left: 0.5em;
    border-bottom: 2px solid transparent;
  }

  .logo a:hover {
    border-color: #ffff00;
  }
  
  .link_items {
    display: flex;
    list-style: none;
  }
  
  .link_items li {
    margin-right: 1.3em;
  }
  
  .link_items a {
    color: #04b11b;
    text-decoration: none;
    padding: 5px;
    transition: 0.4s;
    border-bottom: 2px solid transparent;
  }
  
  .link_items a:hover {
    border-color: #ffff00;
  }